:root {
  --nor-text-font-family: "Outfit", Helvetica;
  --nor-text-font-weight: 500;
  --nor-text-font-size: 20px;
  --nor-text-letter-spacing: 0px;
  --nor-text-line-height: normal;
  --nor-text-font-style: normal;
  --h-2-font-family: "Playfair Display", Helvetica;
  --h-2-font-weight: 700;
  --h-2-font-size: 40px;
  --h-2-letter-spacing: 0px;
  --h-2-line-height: normal;
  --h-2-font-style: normal;
  --title-hh-font-family: "Abril Fatface", Helvetica;
  --title-hh-font-weight: 400;
  --title-hh-font-size: 56px;
  --title-hh-letter-spacing: 0px;
  --title-hh-line-height: normal;
  --title-hh-font-style: normal;
}
